<body>
  <%- include('../partials/_navbar.ejs') %>

    <div class="favorite-page-title">My Favorite Movies</div>


    <% if (favoriteMovies.length> 0) {
      %>
      <div class='favorite-movies-list'>
        <% favoriteMovies.forEach(movie=> { %>
          <div class="movie-card">
            <a href="/movies/<%= movie.apiId %>">
              <div class="movie-card-title">
                <%= movie.title %>
              </div>
              <% if (movie.poster_path) { %>
                <img src="https://image.tmdb.org/t/p/w200<%= movie.poster_path %>" alt="<%= movie.title %>" />
            </a>
            <% } else { %>
              <p>No poster available</p>
              <% } %>

          </div>
          <% }) %>
      </div>
      <% } else { %>
        <p style="text-align: center; margin-top: 20px">
          You have no favorite movies yet.
        </p>
        <% } %>

        <div class="favorites-background-lottie">
  <iframe src="https://lottie.host/embed/fba2bbbb-194c-4a16-84b7-03bcf2a51255/P9akFngx47.lottie"
    allowfullscreen
    style="border: none;">
  </iframe>
</div>
</body>