<body>
  <h1>Search Results for "<%= searchTerm %>"</h1>
  <%- include('../partials/_navbar.ejs') %>

  <h2>Page <%= currentPage %> of <%= totalPages %></h2>
  <div style="display: flex; flex-wrap: wrap; gap: 20px">
    <% movies.forEach(movie => { %>
    <div
      style="
        border: 1px solid #ccc;
        padding: 10px;
        width: 200px;
        text-align: center;
      "
    >
      <a href="/movies/<%= movie.id %>">
        <h2><%= movie.title %></h2>
        <% if (movie.poster_path) { %>
        <img
          src="https://image.tmdb.org/t/p/w200<%= movie.poster_path %>"
          alt="<%= movie.title %>"
          style="width: 100%"
      /></a>
      <% } else { %>
      <p>No poster available</p>
      <% } %>
      <p>
        <strong>Rating:</strong> <%= movie.vote_average %> (Votes: <%=
        movie.vote_count %>)
      </p>
    </div>
    <% }) %>
  </div>

  <div style="margin-top: 20px; text-align: center">
    <% if (currentPage > 1) { %>
    <a
      href="/movies/search?searchTerm=<%= searchTerm %>&page=<%= currentPage - 1 %>"
      >Previous</a
    >
    <% } %>
    <span>Page <%= currentPage %> of <%= totalPages %></span>
    <% if (currentPage < totalPages) { %>
    <a
      href="/movies/search?searchTerm=<%= searchTerm %>&page=<%= parseInt(currentPage) + 1 %>"
      >Next</a
    >
    <% } %>
  </div>
</body>
