<body>
  <h1>Search Results for "<%= searchTerm %>"</h1>
  <%- include('../partials/_navbar.ejs') %>

  <h2>Page <%= currentPage %> of <%= totalPages %></h2>
  <div style="display: flex; flex-wrap: wrap; gap: 20px">
    <% movies.forEach(movie => { %>
    <div
      style="
        border: 1px solid #ccc;
        padding: 10px;
        width: 200px;
        text-align: center;
      "
    >
      <a href="/movies/<%= movie.id %>">
        <h2><%= movie.title %></h2>
        <% if (movie.poster_path) { %>
        <img
          src="https://image.tmdb.org/t/p/w200<%= movie.poster_path %>"
          alt="<%= movie.title %>"
          style="width: 100%"
      /></a>
      <% } else { %>
      <p>No poster available</p>
      <% } %>
      <p>
        <strong>Rating:</strong> <%= movie.vote_average %> (Votes: <%=
        movie.vote_count %>)
      </p>
      
      
      <% 
      // if a list id exists, that means its editing an existing list.
      // we add the movie to the list using its id
      // if there's no listId, means that the user creating a new list
      // so this will add the movie during the new list creation
      const addToListUrl = listId ? `/lists/${listId}/edit?addMovie=${movie.id}` 
      : `/lists/new?addMovie=${movie.id}` %>

      <!-- link to that will let the user add this movie to a list. -->
      
      <a href="<%= addToListUrl %>">Add to List</a>
      

      <% } else { %>
      <p style="color: red; margin-top: 10px">Log in to add to favorites</p>
      <% } %>

    </div>
    <% }) %>
  </div>

  <div style="margin-top: 20px; text-align: center">
    <% if (currentPage > 1) { %>
    <a
      href="/movies/search?searchTerm=<%= searchTerm %>&page=<%= currentPage - 1 %>"
      >Previous</a
    >
    <% } %>

    <span>Page <%= currentPage %> of <%= totalPages %></span>
    <% if (currentPage < totalPages) { %>
    <a
      href="/movies/search?searchTerm=<%= searchTerm %>&page=<%= parseInt(currentPage) + 1 %>"
      >Next</a
    >
    <% } %>
  </div>
</body>
