<body class="movies-search-page">
  <%- include('../partials/_navbar.ejs') %>

  <div class="movies-search-wrapper">

    <div class="search-page-title">Search Results for "<%= searchTerm %>"</div>
    <div class="search-page-number">
  <h2>Page <%= currentPage %> of <%= totalPages %></h2>
  </div>

  <div class="search-movie-list">
    <% movies.forEach(movie => { %>
    <div class="search-movie-card">
      <a href="/movies/<%= movie.id %>" class="search-movie-card-link">
        <div class="search-movie-card-title">
        <h2><%= movie.title %></h2> 
        </div>

        <% if (movie.poster_path) { %>
        <img
          src="https://image.tmdb.org/t/p/w200<%= movie.poster_path %>"
          alt="<%= movie.title %>"
      /></a>
      <% } else { %>
      <p>No poster available</p>
      <% } %>
      <p>
        <strong>Rating:</strong> <%= movie.vote_average %> (Votes: <%=
        movie.vote_count %>)
      </p>
    
      <% if (user) { %>
        <%  // if a list id exists, that means its editing an existing list.
      // we add the movie to the list using its id
      // if there's no listId, means that the user creating a new list
      // so this will add the movie during the new list creation
      const addToListUrl = listId ? `/lists/${listId}/edit?addMovie=${movie.id}` 
      : `/lists/new?addMovie=${movie.id}` %>

      <!-- link to that will let the user add this movie to a list. -->
      
      <a href="<%= addToListUrl %>" class="search-add-to-list" >Add to List</a>
      
      <% } %>
    </div>
      <% }) %>
    </div>


    <div class="search-pagination">
      <% if (currentPage> 1) { %>
        <a href="/movies/search?searchTerm=<%= searchTerm %>&page=<%= currentPage - 1 %>">Previous</a>
        <% } %>
          <span>Page <%= currentPage %> of <%= totalPages %></span>
          <% if (currentPage < totalPages) { %>
            <a href="/movies/search?searchTerm=<%= searchTerm %>&page=<%= parseInt(currentPage) + 1 %>">Next</a>
            <% } %>
    </div>
    </div>
</body>

