<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Edit Profile | MovieMood</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<%- include('../partials/_navbar.ejs') %>
<div class="auth-container">
<h2>Edit Your Profile</h2>

<form action="/users/<%= user._id %>?_method=PUT" method="POST" enctype="multipart/form-data">

<label for="username">Username:</label>
<input type="text"  id="username" name="username" value="<%=user.username %>" required />



<label for="email">Email:</label>
<input type="email" id="email" name="email" value="<%= user.email %>" />


<label for="image">Upload New Profile Image</label>
<input type="file" name="profileImage">


<button type="submit">Update Profile</button>


  <!-- <a href="/users/<%= user._id %>">Cancel</a> -->
</form>
</div>
</body>